/* Antobio css aqui OK */
/* */
.containerInformaticaDetalhes {
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    flex-direction: column;
    min-height: 100vh;

    background-color: #002940;
    color: #fff;
    font-family: 'Lucida Sans';
    font-weight: 700;
}

.telaInformaticaCardDetalhes {
    padding: 22px;
    margin: 10px;

    margin-bottom: 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    justify-items: left;
    align-items: baseline;
}

.telaInformaticaImgDetalhes{
    /* border: 1px solid #fff; */
    border-radius: 12px;
    justify-content: left;
    justify-items: left;
    align-items:  baseline;
    text-align: left;
    /* padding: 10px; */
}

.telaInformaticaImgDetalhes img {
    width: 250px;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 12px;
    padding: 5px;
}

.textoDetalhes {
    font-size: 32px;
}

.textoPDetalhes {
    font-size: 28px;
    color: #cccccc;
}


.divQuantidades {
    font-size: 18px;
}

.buttonDetalhes {

    background-color: #000;
    margin: 5px;
    margin-left: -10px;
    padding-top: 2px;
    height: 30px;
    width: 260px;
    border-radius: 6px;
}

.buttonDetalhes:hover {
    cursor: pointer;
    transform: scale(1.02);
    background-color: #004030;

}

