
  /* Antobio css aqui OK */
/* */
.containerInformatica{
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
  flex-direction: column;
  min-height: 400px;
  background-color: #303030;
  color: #fff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 700;
  }
  .telaInformatica{
    margin: 15px;
    display: flex;
    flex-direction: row;
  background-color: #303030;
  color: #fff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 700;
  /* border: 1px solid #ff0000; */
  }
  .telaInformaticaCard{
    padding: 20px;
    margin: 8px;
    width: 240px;
    height: 250px;
    border-radius: 22px;
    /* border: 1px solid #ff0000; */
    background-color: #002940;
    box-shadow: 0px 2px 8px 2px rgb(93, 88, 131);
  
  }
  .telaInformaticaCard:hover{
    cursor: default;
    transform: scale(1.05);
    box-shadow: 0px 2px 4px 4px rgb(124, 0, 0);
    /* margin: 10px; */
}
  .telaInformaticaImg  img{
  border-radius: 12px;
  margin: 10px;
  width: 140px;
  height: 120px;
  }

  .button{
    background-color: #000;
    margin: 3px;
    padding: 5px;
    height: 20px;
    border-radius: 6px;
  }
  .button:hover{
    cursor: pointer;
    transform: scale(1.05);
    background-color: #004030;

}

  /* Antonio css Fim */

