App{
  flex: 1;
  background-color: blueviolet;
}
.box-produto{
  min-height: 300px;
  min-width: 90%;
  padding: 20px;
  margin: 20px;

  border: 1px solid blue;
}
.box-favorite{
    height: 300px;
    min-width: 90%;
    padding: 20px;
    margin: 20px; 
    overflow-y: scroll;
}
.box-denunciados{
  height: 300px;
  min-width: 90%;
  padding: 20px;
  margin: 20px;
  overflow-y: scroll
}
.titulo-favorito{
  text-align: center;
}
.titulo-denunciados{
  text-align: center; 
}
.favoritosDenunciados{
  overflow: auto;
  border: 3px;
  display: flex;
  flex-direction: row;
}
.box{
  flex: 1;
  border: 1px solid green;
}
  .containerComida{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    
    border-radius: 10px;
    flex-direction: row;
    display: flex;
  }
  .containerProduto:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .containerProduto{
    border-style: solid;
  }
  .containerComida{
    padding: 2px 16px;
  }