.App{
  flex: 1;
  color: #fff;
  background: #5a5a5a;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;
}
.box-produto{
  min-height: 300px;
  min-width: 90%;
  padding: 20px;
  margin: 20px;

  /* border: 1px solid blue; */
}
.box-favorite{
    height: 300px;
    min-width: 90%;
    padding: 20px;
    margin: 20px; 
    overflow-y: scroll;
}
.box-denunciados{
  height: 300px;
  min-width: 90%;
  padding: 20px;
  margin: 20px;
  overflow-y: scroll
}
.titulo-favorito{
  text-align: center;
}
.titulo-denunciados{
  text-align: center; 
}
.favoritosDenunciados{
  overflow: auto;
  border: 3px;
  display: flex;
  flex-direction: row;
}
.box{
  flex: 1;
  box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.3);

  border: 1px solid green;
  /* border-radius: 12px; */
}
h1{
  font-family: sans-serif;
  text-align: center;
}
  .containerComida{
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
     */

    margin: 8px;
    gap: 8px;
     padding: 2px 16px;
    /* border-radius: 10px; */
     flex-direction: row;
     display: flex; 
    flex-wrap: wrap;
  }
  .card{
    width: 200px;
    /* border: solid #ff0000 1px; */
    border-radius: 12px;
    background-color: #0c0c0c;
    padding: 12px;
    text-align: center;
    justify-content: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
  }
  .card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.05);
    
    /* background-color: rgb(255, 166, 0); */
  }
  .containerProduto{
    /* border-style: solid; */
    border-radius: 10px;
  }
  #nome{
    font-weight: bold;
    text-align: center;
    padding: 6px;
  }
  #preco{
    padding: 6px;
    font-weight: bold;
  }
  #btnadd{
    cursor: pointer;
    background-color: rgba(41, 79, 190, 0.905);
    border: none;
    border-radius: 5px;
    font-style: italic ;
    padding: 5px 10px 5px 10px;
  }
  #btnden{
    cursor: pointer;
    background-color: rgb(247, 13, 13);
    border: none;
    border-radius: 5px;
    font-style: italic;
    padding: 5px 10px 5px 10px;
  }
  img{
    height: 130px;
    width: 130px;
    border-radius: 12px;
  }

/*SALGADOS*/
#tituloSalgado{
  font-family: arial;
  font-weight: 900;
  color: #C10000;
  text-shadow: 2px 2px #000000;
}
  #cardSalgado{
    width: 130px;
    height: 230px;
    border-radius: 8px;
    padding: 20px;
    color: #FFFFFF;
    background-color: #C10000;
    font-family: arial;
    font-weight: 700;
    font-size: 14px;
    box-shadow: 2px 2px #000000;
  }
  #imgSalgado{
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid ;
    width: 128px;
    height: 128px;
  }
#btnFavSalgado{
  width: 130px;
  height: 24px;
  background-color: #FFFF00;
  color: #000000;
  font-weight: 700;
  border: none;

}
#btnDenSalgado{
  margin-top: 5px;
  width: 130px;
  height: 24px;
  background-color: #7e0202a4;
  color: #FFFFFF;
  font-weight: 700;
  border: none;
}
#btnFavSalgado:hover{
  background-color: #FFFFFF;
  color: #000000;
}
#btnDenSalgado:hover{
  background-color: #FFFFFF;
  color: #C10000;
}

.tecnologia {
  display: flex; 
  /* flex-direction: row; */
  /* align-items: center; */
  justify-content: center;
  justify-items: center;
  font-size: 15px;
  text-align: center;

}

#img-tecnologia {
  margin-top: 2.5%;
  width: 200px;
  height: 200px;
}

